{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Table 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Class Schedule Table</h4>
					<div class="table-wrap">
						<table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Monday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    {% for blog in blogs %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{blog.title}}</strong> <br>
                    {{blog.category}}</a>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<button type="button" class="btn btn-light">
				<a href="{% url 'data_baru' %}">Tambahkan data</a>
			</button>
		</div>

	<script src="{% static 'js/jquery.min.js' %} "></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

