<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homepage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="containe">
        <div class="row">
            <div class="col-md-4">
                {% if pesan %}
                  <div class="alert alert-success">{{pesan}}</div>
                {% endif %}
                <form action="/tambah/" method="POST" encytype="multipart/form-data">
                    {% csrf_token %}
                    
                        {{Form.as_p}}

                    
                    <button class="btn btn-primary">Kirim</button>
                    <button type="button" class="btn btn-light">
				              <a href="/blog">Kembali</a>
			              </button>
                </form>
            </div>
        </div>
    </div>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>